<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">

    <title>AngularJS</title>

    <meta name="description" content="A framework for easily creating beautiful presentations using HTML">
    <meta name="author" content="Hakim El Hattab">

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

    <link rel="stylesheet" href="css/reveal.css">
    <link rel="stylesheet" href="css/theme/black.css" id="theme">

    <!-- Code syntax highlighting -->
    <link rel="stylesheet" href="lib/css/zenburn.css">

    <!-- Printing and PDF exports -->
    <script>
      var link = document.createElement( 'link' );
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
      document.getElementsByTagName( 'head' )[0].appendChild( link );
    </script>

    <!--[if lt IE 9]>
    <script src="lib/js/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="reveal">

      <!-- Any section element inside of this container is displayed as a slide -->
      <div class="slides">

      <section data-markdown><script type="text/template">
        # AngularJS
        ### JS MVVM FRMWRK
        ### 2WDB DI
        ### WTF
      </script></section>

      <section>
        <section data-markdown><script type="text/template">
          # Wer bin ich?

          <pre><code>var me = {
            name : "Tilman Potthof",
            email : "tpotthof@seibert-media.net",
            alter : 27,
            hobbies : ["Schlagzeug spielen", "Kochen (2,5 Gerichte)"],
            job : [{
              title : "Web-Entwickler",
              bei : "//SEIBERT/MEDIA",
              seit : "10.12.2012"
            },{
              title : "Schlagzeuglehrer",
              seit : "2008"
            }]
          };
          </code></pre>

        </script></section>

        <section data-markdown><script type="text/template">
          ## Zeug

          * Medieninformatik B.Sc. (Hochschule RheinMain)
          * Java, C, Python, PHP, JavaScript
          * Web-Entwicklung mit Java und JavaScript seit 2010
          * Angular-Projekte seit 2012
          * Workshops und Vorträge seit 2013
          * Artikel schreiben <a href="https://angularjs.de/">AngularJS.de</a>
        </script></section>
        <section data-markdown><script type="text/template">
          ## Hallo!
        </script></section>
      </section>

      <section data-background="#444">
        <section data-markdown><script type="text/template">
          ## Agenda? Nö. Brainstorming!
        </script></section>
        <section data-markdown><script type="text/template">
          ## Brainstorming!
          * Angular Buzzwords
          * Probleme mit JavaScript
          * Qualitätsmaßnahmen für Software
        </script></section>
        <section data-markdown><script type="text/template">
          ## 2-Tages Agenda
        </script></section>
        <section data-markdown><script type="text/template">
          ## Grundlagen
          * Expressions, Two-Way-Binding und Controller
          * Einsatz von Standard-Direktiven
          * Services und Dependency-Injection
          * Filter
          * Module
        </script></section>
        <section data-markdown><script type="text/template">
          ## Vertiefung
          * Scopes und eigene Direktiven
          * Die Dunklen Ecken / The Bad Parts
          * Minification und Tooling
          * Controller als Scope-Constructor
        </script></section>
        <section data-markdown><script type="text/template">
          ## Übergreifende Aspekte
          * Debugging
          * Good Practices
          * Test-Driven-Development
          * Abgrenzung zu JavaScript und jQuery
        </script></section>
      </section>

      <section  data-background="#555">
        <section data-markdown><script type="text/template">
          ## Installation und Repository
          * WebStorm oder E.D.V.
          * <a href="https://github.com/tilmanpotthof/angular-workshop-setup">github.com/tilmanpotthof/angular-workshop-setup</a>
          * *Link-Sharing* <a href="https://beta.etherpad.org/p/angular-workshop-101">beta.etherpad.org/p/angular-workshop-101</a>
        </script></section>
      </section>

      <section data-background="#b5533c" data-background-transition="zoom">
        <section>
          <h2>AngularJS Hello World</h2>

<pre><code data-trim contenteditable>&lt;body&gt;
  <div class="container">
    <h2>Hello World!</h2>
    <input type="text" />
  </div>
&lt;/body&gt;
</code></pre>

<pre><code>&lt;body ng-app&gt;
  <div class="container">
    <h2>Hello {{ name }}!</h2>
    <input type="text" ng-model="name" />
  </div>
&lt;/body&gt;
</code></pre>
        </section>
        <section>
          <h2>AngularJS Hello World</h2>

<pre><code>&lt;body ng-app&gt;
  <div class="container">
    <h2>Hello {{ name }}!</h2>
    <input type="text" ng-model="name" />
  </div>
  &lt;/body&gt;
</code></pre>

          <table>
            <tbody>
            <tr>
              <td>ngApp</td>
              <td>Initialisierung der App für das DOM</td>
            </tr>
            <tr>
              <td>{{ name }}</td>
              <td>Template-Expression</td>
            </tr>
            <tr>
              <td>ngModel</td>
              <td>Binding der Variable an das Eingabefeld</td>
            </tr>
            </tbody>
          </table>
        </section>
      </section>

      <section>
        <section data-markdown><script type="text/template">
          ## Ein Schritt zurück
          ## -
          ## Was ist AngularJS?
        </script></section>
        <section data-markdown><script type="text/template">
          ## Was ist AngularJS?
          * MVVM Framework - MVVM? Framework?
          * Ehemals Freizeit-Projekt von Misko Hevery (Google)
          * HTML-Erweiterung für Nicht-Entwickler
          * Fokus auf wiederverwendbare Komponenten
        </script></section>
      </section>

        <section data-background="#295535">
          <section data-markdown><script type="text/template">
            ## Template Expression
          </script></section>
          <section>
            <h2>Template Expression</h2>
            <table>
              <tbody>
                <tr>
                  <td>{{ myExpression }}</td>
                  <td>Mustache-Syntax</td>
                </tr>
                <tr>
                  <td>{{ 1 + 2 + 2 }}</td>
                  <td>Berechnung</td>
                </tr>
                <tr>
                  <td>{{ myObject.someAttribute }}</td>
                  <td>Objekt-Zugriff</td>
                </tr>
                <tr>
                  <td>{{ timestamp + 'ms' }}</td>
                  <td>String Konkatenation</td>
                </tr>
                <tr>
                  <td>{{ myBoolean ? 'YES' : 'NO' }}</td>
                  <td>Tenärer Operator</td>
                </tr>
              </tbody>
            </table>
          </section>
          <section data-markdown><script type="text/template">
            ## Aufgabe
            * Texteingabe mit Zeichenzähler
            * 140 Zeichen
            * Negativer Wert bei Überschreitung
            * Zusatzaufgaben
                * Wörter zählen
                * Zeichen verkehrt ausgeben
          </script></section>
        </section>


      <section data-background="#2e6b46">
        <section data-markdown><script type="text/template">
          ## Two-Way-Binding
        </script></section>
        <section>
          <div data-markdown><script type="text/template">
            ## Two-Way-Binding
            * Automatische prüfung der Änderungen
            * Funktioniert für alle Eingabefelder
            * Binding an Variablen und Objekt-Attribute
          </script></div>
        <pre><code contenteditable><input type="checkbox" ng-model="me.hungry" />
<select ng-model="o.value">
  <option>1</option>
  <option>2</option>
</select></code></pre>
        </section>
        <section>
          <div data-markdown><script type="text/template">
          ## Aufgabe
          * Benutzerformular - Alle Werte als Objekt-Attribut
              * Vorname, Nachname (String)
              * Alter (Zahl)
              * Mac-User, Bremen-Fan, Vegetarier (Boolean)
              * Lieblingsessen (Auswahlliste: Pizza, Salat, Pommes...)
          * Ausgabe als JSON in einem pre-Tag
        </script></div>
        <pre><code contenteditable>{
  "vorname": "Tilman",
  "nachname": "Potthof",
  "macUser": true,
  "vegetarier": true,
  "lieblingsessen": "Pizza",
  "bremenFan": false
}</code></pre>
        </section>
      </section>

      <section data-background="#2e6b46">
        <section data-markdown><script type="text/template">
          ## Scopes und Controller
        </script></section>
        <section>
          <h2>Scopes und Controller</h2>


<pre><code contenteditable><div ng-controller="HelloWorldController">
  <h3>Hello {{ name }}!</h3>
  <div>
    <input type="text" ng-model="name"/>
  </div>
</div></code></pre>

          <em>Namenkonvention: HelloWorldController.controller.js</em>

<pre><code contenteditable>angular
  .module('helloWorld')
  .controller('HelloWorldController', function ($scope) {
    'use strict';

    $scope.name = 'Bernd';
});</code></pre>

        </section>
        <section data-markdown><script type="text/template">
          ## Aufgabe
          * Benutzer-Objekt für Formular vorbelegen
          * Berechnung der Zeichenlänge in Funktion auslagern
        </script></section>
      </section>

      <section data-background="#2e6b46">
        <section data-markdown><script type="text/template">
          ## Verschachtelte Scopes
        </script></section>
        <section data-markdown><script type="text/template">
          ## Gemeinsame Aufgabe
          * Verschachtelten Scope anlegen
          * Mehrere Eingabefelder auf gleiche Variablen in unterschiedlichen Scopes
          * Seiteneffekte untersuchen und Workarounds besprechen
          * Ausgabe von `$rootScope` und Debugging

        </script></section>
      </section>

      <section data-background="#0c3b66">
        <section data-markdown><script type="text/template">
          ## Standard-Direktiven
        </script></section>
        <section data-markdown><script type="text/template">
          ## Direktiven - Was soll das?
          * Wiederverwendbare Element und Attribute
          * Idee von HTML "kopiert"
          * Kapseln von komplexen Verhalten in Bausteine
        </script></section>
        <section data-markdown><script type="text/template">
          ## Interaktion und Events
          * `ngClick`, `ngFocus`, `ngMousemove`, `ngSubmit`
          * `$digest`-Zyklus und Vergleich mit jQuery
        </script></section>
        <section data-markdown><script type="text/template">
          ## Ein- und Ausblenden von Elementen
          * `ngShow`, `ngHide`, `ngIf`, `ngSwitch`
          * `ngCloak` - Ausblenden vor dem Rendern
        </script></section>
        <section data-markdown><script type="text/template">
          ## Weitere Direktiven
          * `ngRepeat` - Die Angular Schleife
          * `ngClass` + `ngStyle` - Styling
          * `ngInit` - Variablen setzen
          * `ngInclude` - Templates includieren
        </script></section>
        <section data-markdown><script type="text/template">
          ## Aufgabe
          * Hinzufügen der Benutzer aus dem Formular in eine Liste
          * Rendern der Liste als Tabelle
          * Highlighting von Benutzern mit besonderen Eigenschaften
          * Löschen Button in jeder Reihe
          * Inline-Bearbeiten in den Reihen
        </script></section>
      </section>

      <section data-background="#542866">
        <section data-markdown><script type="text/template">
          ## Services
          ## und
          ## Dependency-Injection
        </script></section>
        <section data-markdown><script type="text/template">
          ## Services?
          ####  Reichen die Controller nicht für alles?
        </script></section>
        <section data-markdown><script type="text/template">
          ## Service
          * Wiederverwendbare Logik-Bausteine
          * Kapselung von Business-Logik, Kommunikation etc.
        </script></section>
        <section data-markdown><script type="text/template">
          ## Aufgabe
          * Laden eine Benutzer-Liste mit `$http`
          * Schreiben eines Benutzer-Service Hilfsfunktionen
              * `addUser`
              * `removeUser`
              * `getUsers`
        </script></section>
      </section>


      <section>
        <h2>Clever Quotes</h2>

        <blockquote cite="https://github.com/addyosmani">
          &ldquo;First do it, then do it right, then do it better.&rdquo; Addy Osmani
        </blockquote>
      </section>

    </div>

  </div>

  <script src="lib/js/head.min.js"></script>
  <script src="js/reveal.js"></script>

  <script>

    // Full list of configuration options available at:
    // https://github.com/hakimel/reveal.js#configuration
    Reveal.initialize({
      controls: true,
      progress: true,
      history: true,
      center: true,

      transition: 'slide', // none/fade/slide/convex/concave/zoom

      // Optional reveal.js plugins
      dependencies: [
        { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
        { src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
        { src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
        { src: 'plugin/highlight/highlight.js', async: true, condition: function() { return !!document.querySelector( 'pre code' ); }, callback: function() { hljs.initHighlightingOnLoad(); } },
        { src: 'plugin/zoom-js/zoom.js', async: true },
        { src: 'plugin/notes/notes.js', async: true }
      ]
    });

  </script>

</body>
</html>
