<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">

    <title>AngularJS</title>

    <meta name="description" content="A framework for easily creating beautiful presentations using HTML">
    <meta name="author" content="Hakim El Hattab">

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

    <link rel="stylesheet" href="css/reveal.css">
    <link rel="stylesheet" href="css/theme/black.css" id="theme">

    <!-- Code syntax highlighting -->
    <link rel="stylesheet" href="lib/css/zenburn.css">

    <!-- Printing and PDF exports -->
    <script>
      var link = document.createElement( 'link' );
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
      document.getElementsByTagName( 'head' )[0].appendChild( link );
    </script>

    <!--[if lt IE 9]>
    <script src="lib/js/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="reveal">

      <!-- Any section element inside of this container is displayed as a slide -->
      <div class="slides">

      <section data-markdown><script type="text/template">
        # AngularJS
        ## Kurz Überblick
      </script></section>

      <section data-background="#b5533c" data-background-transition="zoom">
        <section>
          <h2>AngularJS Hello World</h2>

<pre><code>&lt;body ng-app&gt;
  <div class="container">
    <h2>Hello {{ name }}!</h2>
    <input type="text" ng-model="name" />
  </div>
&lt;/body&gt;
</code></pre>

          <table>
            <tbody>
            <tr>
              <td>ngApp</td>
              <td>Initialisierung der App für das DOM</td>
            </tr>
            <tr>
              <td>{{ name }}</td>
              <td>Template-Expression</td>
            </tr>
            <tr>
              <td>ngModel</td>
              <td>Binding der Variable an das Eingabefeld</td>
            </tr>
            </tbody>
          </table>
        </section>
      </section>

      <section>
        <section data-markdown><script type="text/template">
          ## Was ist AngularJS?
          * MVVM Framework - MVVM? Framework?
          * Ehemals Freizeit-Projekt von Misko Hevery (Google)
          * HTML-Erweiterung für Nicht-Entwickler
          * Fokus auf wiederverwendbare Komponenten
        </script></section>
      </section>

        <section data-background="#295535">
          <section>
            <h2>Template Expressions</h2>
            <table>
              <tbody>
                <tr>
                  <td>{{ myExpression }}</td>
                  <td>Mustache-Syntax</td>
                </tr>
                <tr>
                  <td>{{ 1 + 2 + 2 }}</td>
                  <td>Berechnung</td>
                </tr>
                <tr>
                  <td>{{ myObject.someAttribute }}</td>
                  <td>Objekt-Zugriff</td>
                </tr>
                <tr>
                  <td>{{ timestamp + 'ms' }}</td>
                  <td>String Konkatenation</td>
                </tr>
                <tr>
                  <td>{{ myBoolean ? 'YES' : 'NO' }}</td>
                  <td>Tenärer Operator</td>
                </tr>
              </tbody>
            </table>
          </section>
        </section>


      <section data-background="#2e6b46">
        <section>
          <div data-markdown><script type="text/template">
            ## Two-Way-Binding
            * Automatische Prüfung der Änderungen
            * Funktioniert für alle Eingabefelder
            * Binding an Variablen und Objekt-Attribute
          </script></div>
        <pre><code contenteditable><input type="checkbox" ng-model="me.hungry" />
<select ng-model="o.value">
  <option>1</option>
  <option>2</option>
</select></code></pre>
        </section>
      </section>

      <section data-background="#2e6b46">
        <section>
          <h2>Scopes und Controller</h2>


<pre><code contenteditable><div ng-controller="HelloWorldController">
  <h3>Hello {{ name }}!</h3>
  <div>
    <input type="text" ng-model="name"/>
  </div>
</div></code></pre>

          <em>Namenkonvention: HelloWorldController.controller.js</em>

<pre><code contenteditable>angular
  .module('helloWorld')
  .controller('HelloWorldController', function ($scope) {
    'use strict';

    $scope.name = 'Bernd';
});</code></pre>

        </section>
      </section>

      <section data-background="#0c3b66">
        <section data-markdown><script type="text/template">
          ## Direktiven
          * Wiederverwendbare Element und Attribute
          * Idee von HTML "kopiert"
          * Kapseln von komplexen Verhalten in Bausteine
        </script></section>
        <section data-markdown><script type="text/template">
          ## Interaktion und Events
          * `ngClick`, `ngFocus`, `ngMousemove`, `ngSubmit`
          * `$digest`-Zyklus und Vergleich mit jQuery
        </script></section>
        <section data-markdown><script type="text/template">
          ## Ein- und Ausblenden von Elementen
          * `ngShow`, `ngHide`, `ngIf`, `ngSwitch`
          * `ngCloak` - Ausblenden vor dem Rendern
        </script></section>
        <section><h2>Code-Beispiel</h2><pre><code contenteditable><span ng-show="isEditing()">
    <input type="text" ng-model="user.firstname"/>
</span></code></pre>
        </section>
        <section data-markdown><script type="text/template">
          ## Weitere Direktiven
          * `ngRepeat` - Die Angular Schleife
          * `ngClass` + `ngStyle` - Styling
          * `ngInit` - Variablen setzen
          * `ngInclude` - Templates includieren
        </script></section>

        <section>
          <h2>Code-Beispiele</h2>

          <pre><code contenteditable><li ng-repeat="word in someText.split(' ')">
    {{ word }}
</li></code></pre>

          <pre><code contenteditable><div ng-init="myLength = 140">
  <div class="alert"
    ng-class="{'alert-danger': myText.length > maxLength, 'alert-success': myText.length <= maxLength }">
    {{ maxLength - myText.length }}
  </div>
</div></code></pre>

          <pre><code contenteditable><div>
  <input type="number" ng-model="c" min="0" max="1" step="0.1"/>
  <div ng-init="c=1;" ng-style="{'opacity': c}">
    Some content
  </div>
</div></code></pre>

        </section>
      </section>

      <section data-background="#542866">
        <section data-markdown><script type="text/template">
          ## Services
          ## und
          ## Dependency-Injection
        </script></section>
        <section data-markdown><script type="text/template">
          ## Service
          * Wiederverwendbare Logik-Bausteine
          * Kapselung von Business-Logik, Kommunikation etc.
          * Nützliche Built-in Services
        </script></section>
        <section data-markdown><script type="text/template">
          ## Built-In Services
          * `$http` - AJAX-Requests
          * `$log` - Logging-Wrapper
          * `$parse` - Expression-Parser
          * `$timeout` - `setTimeout` wrapper
        </script></section>

        <section>
          <h2>Code-Beispiel</h2>

          <pre><code contenteditable>angular.module('myModule')
  .controller('MyController', function($log, $http) {
    'use strict';

    $log.info('ENTER MyController');

    $http.get('someData.json').success(function (data) {
       $log.info('LOADED someData.json', data);
    });

    $log.info('LEAVE MyController');
  });</code></pre>

        </section>

        <section data-markdown><script type="text/template">
          ## Eigener User-Service
          * Gewünschte Methoden für den
            * `addUser(user)`
            * `removeUser(user)`
            * `getUsers()`
            * `getUserById(id)`
        </script></section>

        <section><h2>Beispiel-Service</h2><pre><code contenteditable>angular.module('myModule').factory('userService', function () {
  'use strict';

  var privateUsersById = {};
  var idCounter = 1;

  var userService = {
    addUser: function (user) {
      if (user.id) { throw new Error('User has already a id. Use updateUser() instead'); }
      user.id = idCounter++;;
      privateUsersById[user.id] = user;
      return user;
    },
    removeUser: function (user) {
      delete privateUsersById[user.id];
    },
    getUserById: function (id) {
      return privateUsersById[id];
    },
    getUsers: function () {
      return Object.keys(privateUsersById).map(function (id) {
        return privateUsersById[id];
      });
    }
  };

  return userService;

});</code></pre>
        </section>

        <section><h2>Dependency Injection</h2><pre><code contenteditable>angular.module('myModule')
  .controller('MyController', function ($scope, userService) {
     'use strict';

     $scope.userService = userService;
});</code></pre>
        </section>
      </section>

      <section data-background="#206664">
        <section data-markdown><script type="text/template">
          ## Filter
          * Wiederverwendbare Template-Transformatoren
          * Build-In Filter (`date`, `json`, `limitTo`, `filter`)
        </script></section>
        <section>
          <h2>Code-Beispiele</h2>
          <pre><code contenteditable>{{ user.birthdate | date:'dd.MM.yyy' }}</code></pre>
          <pre><code contenteditable>{{ user.sha256 | uppercase | limitTo:7 }}</code></pre>
          <pre><code contenteditable><li ng-repeat="user in users | filter:{age:">{{ user.name }}</li></code></pre>
          <pre><code contenteditable><li ng-repeat="user in users | limitTo:10">{{ user.name }}</li></code></pre>
        </section>
        <section>
          <h2>Eigene Filter</h2>
          <pre><code contenteditable>angular.module('commons').filter('eliminateVowels', function () {
  'use strict';

  return function (value, disable) {
    if (angular.isString(value) && !disable) {
      return value.replace(/[AEIOUaeiou]/g, '');
    } else {
      return value;
    }
  };
});</code></pre>

          <pre><code contenteditable><div>
  <input type="checkbox" ng-model="filter.enableVowelFilter"/>
  {{ user.lastname | eliminateVowels:!filter.enableVowelFilter }}
</div></code></pre>

        </section>
      </section>

      <section>
        <h2>Happy coding!</h2>

        <blockquote cite="https://github.com/addyosmani">
          &ldquo;First do it, then do it right, then do it better.&rdquo; Addy Osmani
        </blockquote>
      </section>

    </div>

  </div>

  <script src="lib/js/head.min.js"></script>
  <script src="js/reveal.js"></script>

  <script>

    // Full list of configuration options available at:
    // https://github.com/hakimel/reveal.js#configuration
    Reveal.initialize({
      controls: true,
      progress: true,
      history: true,
      center: true,

      transition: 'slide', // none/fade/slide/convex/concave/zoom

      // Optional reveal.js plugins
      dependencies: [
        { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
        { src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
        { src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
        { src: 'plugin/highlight/highlight.js', async: true, condition: function() { return !!document.querySelector( 'pre code' ); }, callback: function() { hljs.initHighlightingOnLoad(); } },
        { src: 'plugin/zoom-js/zoom.js', async: true },
        { src: 'plugin/notes/notes.js', async: true }
      ]
    });

  </script>

</body>
</html>
